* {
  box-sizing: border-box;
}

body {
  background: url(../../images/bg.jpg) center top;
  background-size: 100% auto;

  div.container {
    width: 80%;
    margin: auto auto 30px;

    div.header {
      font-family: 'Fjalla One', sans-serif;

      h1 {
        font-size: 52px;
      }

      span {
        font-size: 32px;
        font-weight: 600;
        margin-right: 30px;
      }
    }

    a {
      color: #000;
    }

    a.nodec:link {
      color: #000;
      text-decoration: none;
    }

    a.nodec:visited {
      color: #000;
      text-decoration: none;
    }

    a.nodec:active {
      color: #000;
      text-decoration: none;
    }

    div.main {
      width: 100%;

      div.responsive {
        float: left;
        width: 24.99999%;
        height: 460px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;

        span.bold {
          font-weight: 600;
        }
      }

      @media screen and (max-width: 1000px){
        div.responsive {
          width: 33.33333%;
        }
      }

      @media screen and (max-width: 800px){
        div.responsive {
          width: 49.99999%;
        }
      }

      @media screen and (max-width: 500px){
        div.responsive {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
