div.main {

  div.image {
    width: 90%;
    margin: auto;

    p.caption {
      font-weight: 800;
      font-size: 32px;
      font-family: Helvetica, Arial, sans-serif;
    }

    p.logged {
      span {
        cursor: pointer;
      }
    }

    img {
      width: 100%;
    }

    p.credit {
      display: block;
      width: 100%;

      button#btn-edit {
        cursor: pointer;
      }
    }

    span.tag {
      margin-right: 15px;
      font-style: italic;
    }
  }

  form#edit_caption, form#edit_credit {
    display: none;
    margin-top: 32px;
    margin-bottom: 32px;

    label {
      position: relative;
      display: block;

      input {
        font: 14px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 100%;
        margin-bottom: 10px;
        outline: none;
        transition: all 0.2s ease-in-out;

        &:focus, &.populated {
          padding-top: 28px;
          padding-bottom: 12px;

          & + span {
            opacity: 1;
            top: 10px;
          }
        }
      }

      span {
        color: #000;
        font: 13px Helvetica, Arial, sans-serif;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

    }
  }
}
