div.container {
  .responsive {
    div.album {
      width: 90%;

      p.title {
        font-weight: 800;
        font-size: 24px;
        color: #000;
        font-family: Helvetica, Arial, sans-serif;
      }

      .cover {
        display: block;
        height: 250px;

        figure {
          overflow: hidden;
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;

          img {
            width: 100%;
            height: 250px;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }
        }

        figure:hover {
          img {
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
          }
        }

        div.dummy {
          height: 100%;
          background-color: #DCDCDC;

          p {
            display: block;
            text-align: center;
            padding-top: 45%;
            font-size: 26px;
          }

          form {
            margin: auto;
            width: 90%;
            padding-top: 1px;

            h4 {
              text-align: center;
            }

            label {
              font-weight: 900;
            }

            input {
              margin-top: 5px;
              margin-bottom: 5px;
              height: 20px;
              width: 90%;
            }

            select {
              width: 90%;
              margin-bottom: 5px;
            }
          }
        }
      }

      div.desc {
        padding: 15px;
        text-align: center;
      }
    }

    div.img:hover {
      border: 1px solid #777;
    }
  }

  form#add_album {
    display: table;

    label {
      position: relative;
      display: block;

      input {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 400px;
        margin-bottom: 20px;
        outline: none;
        transition: all 0.2s ease-in-out;

        &:focus, &.populated {
          padding-top: 28px;
          padding-bottom: 12px;

          & + span {
            opacity: 1;
            top: 10px;
          }
        }
      }

      span {
        color: #000;
        font: 13px Helvetica, Arial, sans-serif;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    }

    input[type="submit"] {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font: 18px Helvetica, Arial, sans-serif;
      border: none;
      background: #808080;
      color: #fff;
      padding: 16px 40px;

      &:hover {
        background: #C0C0C0;
      }
    }
  }
}
