* {
  box-sizing: border-box;
}

body {
  background: url(../../images/bg.jpg) center top;
  background-size: 100% auto;
}
body div.container {
  width: 80%;
  margin: auto auto 30px;
}
body div.container div.header {
  font-family: 'Fjalla One', sans-serif;
}
body div.container div.header h1 {
  font-size: 52px;
}
body div.container div.header span {
  font-size: 32px;
  font-weight: 600;
  margin-right: 30px;
}
body div.container a {
  color: #000;
}
body div.container a.nodec:link {
  color: #000;
  text-decoration: none;
}
body div.container a.nodec:visited {
  color: #000;
  text-decoration: none;
}
body div.container a.nodec:active {
  color: #000;
  text-decoration: none;
}
body div.container div.main {
  width: 100%;
}
body div.container div.main div.responsive {
  float: left;
  width: 24.99999%;
  height: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
body div.container div.main div.responsive span.bold {
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  body div.container div.main div.responsive {
    width: 33.33333%;
  }
}
@media screen and (max-width: 800px) {
  body div.container div.main div.responsive {
    width: 49.99999%;
  }
}
@media screen and (max-width: 500px) {
  body div.container div.main div.responsive {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
body div.container div.main .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body span.bold {
  font-weight: 600;
}
body .hidden {
  display: none;
}
