div.main div.image {
  width: 90%;
  margin: auto;
}
div.main div.image p.caption {
  font-weight: 800;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
}
div.main div.image img {
  width: 100%;
}
div.main div.image p.credit {
  display: block;
  width: 100%;
}
div.main div.image span.tag {
  margin-right: 15px;
  font-style: italic;
}
