.responsive div.album {
  width: 90%;
  margin: auto;
  border: 1px solid #ccc;
}
.responsive div.album img {
  width: 100%;
  height: 300px;
}
.responsive div.album div.desc {
  padding: 15px;
  text-align: center;
}
.responsive div.img:hover {
  border: 1px solid #777;
}
